@import'./partials/navigation';
@import'./modules/fonts';
@import'./partials/header';
@import'partials./section1';
@import'partials./section2';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ralewayregular', sans-serif;
}


.center {
    margin: 0 auto;
    width: 100%;
}

.center::after {
    clear: both;
    content: "";
    display: block;
}

