footer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 30px;
}

.copyright {
    color: #b4b4b4;
    margin: 0;
}
.logo-footer {
    color: #b4b4b4;
    text-decoration: none;
}
.logo-footer-span {
    color: darken(#b4b4b4, 25%);
    font-weight: bold;
}
.social-media {
    
}