@import'./modules/variables';
header {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 207, 214, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(204, 207, 214, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 207, 214, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 207, 214, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 207, 214, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(204, 207, 214, 1) 100%);
    //    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccfd6', GradientType=0);
}

span {
    color: $main-color;
    font-weight: 600;
}
.slider ul{
    list-style: none;
}

.slider li{
    display: none;
}

.slider .visible{
    display: inline-block;
}

.black-chair {
    background: url('./../images/black_chair.png');
    width: 470px;
    height: 337px;
}
.orange {
    background: url('./../images/orange.png');
    width: 470px;
    height: 337px;
}
.red {
    background: url('./../images/red.png');
    width: 470px;
    height: 337px;
}
.center-header-content {
    width: 480px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    //    margin-top: 80px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 32px;
        font-weight: 400;
    }
    .header-text {
        font-size: 16px;
        width: 400px;
        height: 100px;
        text-align: center;
        line-height: 1.5;
    }
    .btn-more {
        width: 230px;
        height: 40px;
        background-color: $main-color;
        border: none;
        border-radius: 8px;
        padding: 10px;
    }
    a {
        font-family: 'Raleway', Arial, sans-serif;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: 300;
    }
}

.arrow {
    font-size: 65px;
    font-weight: lighter;
    position: absolute;
    color: $main-color;
    top: 38%;
    z-index: 10px;
    text-decoration: none;
}

.left {
    left: 4.5%;
}

.right {
    right: 6%;
}