.section-3 {
    margin: 0 auto;
    width: 93%;
    padding: 30px 0;
    h2 {
        border-bottom: 8px solid #24ba9f;
        width: 400px;
        text-transform: uppercase;
        margin-bottom: 50px;
        margin-left: 0.5%;
        font-weight: 400;
        padding-bottom: 10px;
    }
}

input:focus, textarea:focus {
    outline: none;
}

form {
    position: relative;
    .name {
        border: 1px solid;
        border-color: $main-color;
        width: 60%;
        height: 56px;
        margin: 10px;
        font-family: 'Raleway', Arial, sans-serif;
        font-weight: 300;
        font-size: 25px;
        padding: 10px;
        color: #b4b4b4;
    }
    .name::-webkit-input-placeholder {
        color: #c9c9c9;
    }
    .name:focus {
        font-family: 'Raleway', Arial, sans-serif;
        font-weight: 300;
        font-size: 30px;
        padding: 10px;
    }
    .email {
        border: 1px solid;
        border-color: $main-color;
        width: 60%;
        height: 60px;
        margin: 10px;
        font-family: 'Raleway', Arial, sans-serif;
        font-weight: 300;
        font-size: 25px;
        padding: 10px;
        color: #b4b4b4;
    }
    .email:focus {
        font-family: 'Raleway', Arial, sans-serif;
        font-weight: 300;
        font-size: 30px;
        padding: 10px;
    }
    .email::-webkit-input-placeholder {
        color: #c9c9c9;
    }
    .message {
        border-color: $main-color;
        width: 60%;
        height: 180px;
        margin: 10px;
        font-family: 'Raleway', Arial, sans-serif;
        font-weight: 300;
        font-size: 25px;
        padding: 10px;
        color: #c9c9c9;
    }
    .message:focus {
        font-family: 'Raleway', Arial, sans-serif;
        font-weight: 300;
        font-size: 30px;
        padding: 10px;
        color: #c9c9c9;
    }
    .message::-webkit-input-placeholder {
        color: #c9c9c9;
    }
}

.right-side {
    float: right;
    position: absolute;
    bottom: -2%;
    left: 70%;
}

.red-chair {
    margin-bottom: 10px;
}

.submit-contact {
    width: 320px;
    height: 60px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    background-color: $main-color;
    border-radius: 8px;
    border: none;
    font-size: 25px;
    margin: 15px 0;
    text-transform: uppercase;
}

@mixin createCheckbox() {
    input {
        display: block;
        opacity: 0;
        height: 48px;
        position: absolute;
        width: 48px;
        cursor: pointer;
    }
    label {
        display: block;
        position: relative;
        font-size: 17px;
        color: #b4b4b4;
        padding-left: 55px;
        line-height: 120%;
        padding-top: 15px;
        cursor: pointer;
        &::before,
        &::after {
            border: 1px solid $main-color;
            content: "";
            display: block;
            left: -5px;
            height: 48px;
            position: absolute;
            width: 48px;
            top: 9px;
        }
        &::after {
            background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A') no-repeat center;
            border: 0;
            display: none;
        }
    }
    input:checked + label::after {
        display: block;
    }
}

.checkbox {
    @include createCheckbox();
    margin-bottom: 10px;
}