.aplication {
    width: 100%;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.select,
.image,
.summary {

}

.summary {
    width: 33%;
}

.summary h2 {
    text-align: right;
    margin-left: 0 !important;
}

.form {
    margin-top: 50px;
}

.drop_down_list {
    border: 1px solid $main-color;
    width: 280px;
    height: 38px;
    background-color: white;
    margin-top: 22px;
    padding: 8px 12px;
    position: relative;

}


.list_label {
    font-size: 23px;
    color: #c9c9c9;
    font-weight: 400;
    font-family: 'Raleway', Arial, sans-serif;

}

.list_arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid $main-color;
    display: block;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
}

.list_panel {
    background-color: white;
    border: 1px solid #ccc;
    width: 288px;
    padding-left: 15px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0;
    left: 0px;
    z-index: 2;
    position: absolute;
    top: 54px;
    display: none;
}

.list_panel li {
    margin-top: 10px;
    cursor: pointer;
    color: #585858;
}

.checkbox {
    position: relative;
    padding: 30px 30px 30px 0;
}

.checkbox input {
    display: block;
    opacity: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    cursor: pointer;
}

.checkbox label {
    display: block;
    padding-left: 65px;
    position: relative;
    font-size: 25px;
    color: #c9c9c9;
    line-height: 120%;
    padding-top: 10px;
    cursor: pointer;
}

.checkbox label::before,
.checkbox label::after {
    border: 1px solid $main-color;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0;
}

.checkbox label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
}

.checkbox input:checked + label::after {
    display: block;
}

.image {
    margin-top: 110px;
}

.summary_panel {
    background-color: white;
    width: 320px;
    height: 195px;
    padding: 10px;
    text-align: left;
    float: right;
}

.summary_panel::before,
.summary_panel::after {
    clear: both;
}

.panel_left {
    display: inline-block;
    width: 185px;
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    height: 135px;
    background-color: white;
}

.panel_left h4,
.panel_right h4 {
    color: #24baa0;
    font-size: 23px;
    font-weight: 400;
}

.panel_left span {
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
    display: block;
    //font-weight: 400;
}

.panel_right {
    display: inline-block;
    width: 100px;
    border-left: 1px solid #e7e7e7;
    text-align: right;
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    height: 135px;
}

.sum_label {
    display: inline-block;
    width: 185px;
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
    font-weight: 400;
}

.sum {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 10px;
    font-size: 22px;
    color: #24baa0;
}

.green_button {
    background-color: #27c7ab;
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    padding: 10px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    display: inline-block;
    font-family:  'Raleway', Arial, sans-serif;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 8px;
    text-decoration: none;
}

.title-sum {
    height: 30px;
}
