$main-color: #24ba9f;
h2 {
    border-bottom: 8px solid $main-color;
    width: 300px;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-left: 3.5%;
    font-weight: 400;
}

.section-2 {
    width: 100%;
    background-color: #f1f1f1;
    padding: 30px 0;
}

.center-section2 {
    width: 93%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container {
    border: 1px solid #dbdbdb;
    width: 300px;
    height: 450px;
    z-index: 1;
    position: relative;
    background-color: #f9f9f9;
    //    margin: 40px;
}

.circle {
    border: 1px solid #dbdbdb;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5%;
    right: 42%;
    z-index: 1;
}

.circle::before {
    content: "";
    border: 1px solid #dbdbdb;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #c2c2c2;
    position: absolute;
    z-index: 1;
}

.title {
    margin: 40px;
    color: $main-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

.price {
    border: 1px solid #c2c2c2;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #c1c1c1;
    position: relative;
    
    div {
        position: absolute;
        top: 20%;
        left: 18%;
    }
}


.index {
    color: #c1c1c1;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
        top: 100%;
    left: 7%
}




.change {
    position: absolute;
    top: 6%;
    left: 99%;
}
.odd {
    background-color: #e4e4e4;
    color: #8e8e8e;
    text-align: center;
    padding: 10px;
}
.even {
    background-color: #f1f1f1;
    color: #959595;
    text-align: center;
    padding: 10px;
}
.btn-cennik {
    background-color: $main-color;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    position: absolute;
    right: 33%;
    bottom: 5%;
    cursor: pointer;
}
.btn-cennik:focus {
    outline: none;
}
.btn-cennik-middle {
    background-color: #fff;
    color: $main-color;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    position: absolute;
    right: 33%;
    bottom: 5%;
    cursor: pointer;
}
.btn-cennik-middle:focus {
    outline: none;
}
.container-middle {
    border: 1px solid $main-color;
    width: 300px;
    height: 450px;
    z-index: 1;
    position: relative;
    background-color: $main-color;
    //    margin: 40px;
}
.circle-middle {
    border: 1px solid $main-color;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: $main-color;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5%;
    right: 42%;
    z-index: 1;
}
.circle-middle::before {
    content: "";
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
}
.price-middle {
    border: 1px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    color: $main-color;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    div {
        color: $main-color;
        position: absolute;
        top: 20%;
        left: 25%;
    }
    .index {
        color: $main-color;
    }
}
.title-middle {
    margin: 40px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}