$main-color: #24ba9f;
.section-1 {
    margin: 0 auto;
    width: 93%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 60px;
    .box {
        padding: 0;
        width: 335px;
        height: 250px;
        border: 1px solid #dbdbdb;
        h3 {
            width: 150px;
            border-bottom: 6px solid $main-color;
            margin-left: 25px;
            margin-top: 30px;
        }
        p {
            margin: 20px;
        }
    }
}

.img1 {
    width: 329px;
    height: 225px;
    background-image: url('./../images/box1_img.jpg');
    border: 1px solid #dbdbdb;
    
}
.chair-name {
    position: relative;
}

.img2 {
    width: 329px;
    height: 225px;
    background-image: url('./../images/box2_img.jpg');
    border: 1px solid #dbdbdb;
    
}

.chair-name-2 {
    position: relative;
}
.chair-name::before {
    content: "";
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 30px;
    position: absolute;
    bottom: 10%;
}

.chair-name::after {
    content: "Chair CLAIR";
    width: 50%;
    border-bottom: 6px solid $main-color;
    position: absolute;
        top: 70%;
    margin-left: 10px;
}

.chair-name-2::before {
    content: "";
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 30px;
    position: absolute;
    bottom: 10%;
}

.chair-name-2::after {
    content: "Chair MARGARITA";
    width: 50%;
    border-bottom: 6px solid $main-color;
    position: absolute;
        top: 70%;
    margin-left: 10px;
}