$main-color: #24ba9f;

.section-1 {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 60px;
    .box {
        width: 335px;
        height: 250px;
        border: 1px solid #dbdbdb;
        h3 {
            width: 150px;
            border-bottom: 4px solid $main-color;
            margin-left: 25px;
            margin-top: 30px;
        }
        p {
           margin: 20px; 
        }
    } 
    .img1 {
        border: 1px solid #dbdbdb;
    }

    .img2 {
        border: 1px solid #dbdbdb;
    }
   
}